@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BoldItalicArt';
    src: url('/font/BoldItalicArt.ttf') format('woff2'),
    url('/font/BoldItalicArt.ttf') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}